/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-color: #000028;
  --decoration-color: #FF0070;
  --focus-color: #DB00FF;
  --accent-color: #FF0070;
  --text-color: #000028;
  --text-list-color: #F1B2CE;
  --button-hover-color: rgb(255 0 112 / 0.4);
  --main-padding: 10px;
  --content-block-margin: 40px;
  --section-block-margin: 50px;
  --section-margin: 20px;
  --title-margin: 10px;
  --images-title-margin: 10px;
  --main-font: 'IBM Plex mono';
  --main-font-size: 18px;
  --main-line-height: 1.3;
  --corner-size: 25px;
  --grid-row-one: calc(((100vi - var(--main-padding) * 4) / 3 * 2 + var(--main-padding)) /2.5);
  --grid-row-two: calc((100vi - var(--main-padding) * 4) / 3);
  --grid-row-three: calc(((100vi - var(--main-padding) * 4) / 3 * 2 + var(--main-padding)) /1.5);
}